.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1; 
    @include Transformation(opacity);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    & .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--background-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--background-main-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close__icon {
    width: 11px;
    height: 11px;
    fill: #000000;

    @include Transformation(fill);

    .close:hover &,
    .close:focus & {
        fill: var(--accent-color);
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 12px;
}

.form__field {
    position: relative;
    
    margin-bottom: 10px;
    height: 100%;
}

.form__label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.form__input,
.form__textarea {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:focus,
    &:focus {
        outline-color: var(--accent-color);
        border: 1px solid #2196F3;
    }
}

.form__input {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 14px;
    padding-left: 42px;
}

.form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    left: 12px;
    
    fill: var(--title-text-color);
    
    @include Transformation(fill);

    .form__input:focus + &,
    .form__textarea:focus + & {
        fill: var(--accent-color);
    }
}

.form__textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    
    &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
}

.form__field--comment {
    margin-bottom: 20px;
}

.form__checkbox {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.checkbox__terms {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    &::before {
        content: "";
        display: inline-flex;
        text-align: center;
        width: 16px;
        height: 15px;
        border: 2px solid var(--title-text-color);
        border-radius: 2px;
        margin-right: 7px;
    }

    & .terms-link {
        color: var(--accent-color);
        text-decoration: underline solid;
    }
}


.checkbox {
    position: absolute;
    top: 3px;
    left: 12px;
    width: 16px;
    height: 15px;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
        outline-color: var(--accent-color);
        border: 2px solid #2196F3;
        border-radius: 2px;
    }
}

.checkbox__icon {
    position: absolute;
    top: 3px;
    left: 12px;
    opacity: 0;
    pointer-events: none;
    
    background-color: var(--accent-color);
    fill: var(--background-main-color);
    border: 2px solid #2196F3;
    border-radius: 2px;

    /*transform: translatex(50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);*/

    .checkbox:checked + & {
        /*transform: translatex(-50%);*/
        opacity: 1; 
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-origin: border-box;
    }
}

.checkbox__button {
    margin: 0 auto;
}