.footer {
    background-color: var(--background-accent-color);
    padding: 60px 0;
}

.footer__container {
    max-width: 480px;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
    }  
}

.footer__address {
    @include FlexCenter(center);
    flex-direction: column;
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {}
}

.footer__logo {
    @media screen and (min-width: 1200px) {
        display: inline-flex;
        align-self: start;
    }
}

.address {
    margin-top: 20px;
}

.address__list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-main-color);

    text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }
}

.address__contact {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
}

.footer__logo {
    display: inline-block;
}

.join {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
      }
      @media screen and (min-width: 1200px) {
        margin-left: 70px;
      }  
}

.join__title,
.subscribe__title {
    color: var(--background-main-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.join__social-link {
    background-color: rgba(255, 255, 255, 0.1);

    @include Transformation(background-color);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.join__icon {
    fill: var(--background-main-color);
}

.subscribe {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    @media screen and (min-width: 768px) {
        max-width: 450px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: column;
        margin-left: 93px;
        max-width: 100%;
    }
}

.subscribe__form {

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-top: 0;
  }
}

.subscribe__input {
    width: 100%;
    height: 50px;
    background-color: var(--background-accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px 16px;
    color: var(--background-main-color);

    &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
      }
}

.subscribe__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--background-main-color);
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: 12px;
    }

    @include Transformation(background-color);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.subscribe__icon {
    width: 24px;
    height: 24px;
    fill: var(--background-main-color);
    margin-left: 10px;
}